.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/banner_chairs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.img_logo {
  border-radius: 8px;
  padding: 2%;
  height: 60px;
  width: auto;
}